<h1>Static About Page</h1>
<p>This application was made for a school project, it was written in ruby/rails and also features a sqlite3 database.</p>
<p>Also features a cool cat picture API, how neat!</p>
