<h1>Cat Pictures</h1>
<p>Add /# (exp, cat-pictures/10) to end of url to generate any number of cat pictures you want to</p>
<% @cats.each do |cat| %>
  <img src="<%= cat.url %>" alt="Cat pic">
<% end %>
