<h1>Home Page</h1>
<h2>Server Time is:</h2>
<%= current_date_and_time %>
<h3>Welcome to my application!</h3>
<p>Must sign in to edit the database</p>
<p>Links navigate to various features of the site</p>
