<h1>Static#home</h1>
<%= current_date_and_time %>
<p> The model used for the store is entering an item, the quantity and date, this would be used for some sort of store </p>
<p>Find me in app/views/static/home.html.erb</p>
